<section class="container section-form">
  <div class="div">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.991382225924!2d-75.56878904954822!3d6.264862695443175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428e695083c29%3A0x99f177323f8c67d5!2sRuta%20N!5e0!3m2!1sen!2sco!4v1632019643184!5m2!1sen!2sco"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
  <form class="form" [formGroup]="reactiveForm">
    <h2>Leave your Message Here!</h2>
    <input
      class="form-control"
      id="name"
      type="text"
      formControlName="name"
      placeholder=" Enter your Name"
      required
    />
    <p
      class="text-danger"
      *ngIf="
        reactiveForm.controls['name'].invalid &&
        reactiveForm.controls['name'].touched &&
        reactiveForm.controls['name'].dirty
      "
    >
      Name is required
    </p>

    <input
      class="form-control"
      id="email"
      type="text"
      formControlName="email"
      placeholder="Enter your Email"
      required
    />
    <p
      class="text-danger"
      *ngIf="
        reactiveForm.controls['email'].invalid &&
        reactiveForm.controls['email'].touched &&
        reactiveForm.controls['email'].dirty
      "
    >
      Email is required
    </p>

    <textarea
      class="form-control"
      id="body"
      type="text"
      formControlName="body"
      placeholder=" Write your Message"
      required
    >
    </textarea>
    <p
      class="text-danger"
      *ngIf="
        reactiveForm.controls['body'].invalid &&
        reactiveForm.controls['body'].touched &&
        reactiveForm.controls['body'].dirty
      "
    >
      Message is required (minimum length 30)
    </p>
    <button
      type="submit"
      (click)="openWindowCustomClass(content)"
      [disabled]="!reactiveForm.valid"
    >
      Submit
    </button>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">...</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title"></h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Succesfully Sent</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
