@import "./src/styles";

.back{
  background-color: #162636;

  .container {
    padding: 2rem;
  
    .title {
      font-weight: bold;
      h2 {
        margin-bottom: 2rem;
        font-size: 2.5rem;
        color: #fff;
      }
    }
  
    .card {
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
      margin-bottom: 3rem;
      .card-img-top {
        height: 20rem;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        margin-bottom: 1rem;
        padding: 2rem;
        height: 20rem;
        width: 100%;
        object-fit: contain;
      }
      .card-body {
        .card-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            margin: 0;
          }
        }
        margin-bottom: 1rem;
      }
      &:hover {
        transform: scale(1.03);
        transition: 0.3s ease-in;
      }
    }
  }
}

