@import "./src/styles";

.back{
  background-color: #f8f9fa;
  margin-top:2rem;

  .container {
    padding: 2rem;
  
    .title {
      font-weight: bold;
      h2 {
        margin-bottom: 2rem;
        font-size: 2.5rem;
        color: #000;
      }
    }
  
    .card {
      border-radius: 5px;
      box-shadow: 0 2px 4px rgb(0 0 0 / 4%);
      margin-bottom: 3rem;
      .card-img-top {
        height: 20rem;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        margin-bottom: 1rem;
        padding: 2rem;
        height: 20rem;
        width: 100%;
        object-fit: contain;
      }
      .card-body {
        .card-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            margin: 0;
          }
        }
        margin-bottom: 1rem;
      }
      &:hover {
        transform: scale(1.03);
        transition: 0.3s ease-in;
      }
    }
  }
}

/** Bloque Nosotros */
.sobre-nosotros {
  background-image: linear-gradient(to bottom, transparent 50%, #3c0d5e 50%, #32159b 100%), url(../../../../assets/img/streamer-desk-setup.jpg) ;
  background-position: bottom bottom ;
  padding: 10rem 0;
  background-size: 100%, 50rem;
  background-repeat: no-repeat;
  background-attachment:fixed;

  
}

@media (min-width: 768px) { 
  .sobre-nosotros {
      background-image: linear-gradient(to right, transparent 50%, #3c0d5e 50%, #32159b 100%), url(../../../../assets/img/streamer-desk-setup.jpg) ;
      padding:  10rem 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-attachment:fixed;
  }
}
.sobre-nosotros-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
@media (min-width: 768px) { 
  .sobre-nosotros-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: unset;
      column-gap: 10rem;
  }
}
.texto-nosotros {
  grid-row: 2 / 3;
  color: #FFF;
  padding: 5rem;

  h2{
    color: #FFF;
    padding-bottom: 1rem;
    font-weight: bold;
    
  }
  p{
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) { 
  .texto-nosotros {
      grid-column: 2 / 3;
  }
}

