<app-navbar></app-navbar>
<section class="container">
  <article  class="d-flex  justify-content-center p-5">
    <div>
      <h2 class="font-weight-bold">About us</h2>
      <p  class="w-75 p-3">
        Founded in 2021, We are an online store of amazing technological products
        distribution in all the Colombian country with office in Medellin City,
        our products are divide by categories which are Chairs, tables, PC devices
        and shirts, this latter with option of customization depending on customer
        requirements.
      </p>
    </div>
     <img
    src="https://i.ibb.co/94hjTw3/Logo2-removebg-preview.png"
    width="400px"
    height="200px"
    alt="logo"
    />
  </article>
  <article class="d-flex flex-row-reverse justify-content-center p-5">
    <div class="d-flex flex-column justify-content-center">
      <h1 class=" text-center font-weight-bold">Our products</h1>
      <p class="p-3 text-center">
      Our products are brought from all over the world, thanks to the
      distribution channels and partnerships we have with our stakeholders,
      always thinking about connecting the world through technology.
      </p>
    </div>
    <figure class="d-flex flex-column">
      <img
      class="rounded"
      src="https://i.ibb.co/84HrmW4/Products-Ecommerce-2.jpg"
      width="700px"
      alt="logo"
      />
    </figure>
  </article>
  <article  class="p-5">
    <h2 class="font-weight-bold">Our order process</h2>
    <div class="d-flex justify-content-center p-5">
      <div>
        <img src="https://img.icons8.com/ios/50/000000/t-shirt--v1.png"/>
        <h3 class="font-weight-bold"> Fulfillment</h3>
        <p>
          Normally 2–7 business days to print your t-shirt(s) and
          fulfill your order.
        </p>
      </div>
      <div>
        <img src="https://img.icons8.com/dotty/60/000000/drop-shipping--v2.png"/>
        <h3 class="font-weight-bold ">Shipping</h3>
        <p>
          The average shipping time is 4-10 business days depending on the
          delivery destination...
        </p>
      </div>
    </div>
  </article>
</section>
