<section class="container bg-secondary">
  <article>
    <img
    src="https://i.ibb.co/94hjTw3/Logo2-removebg-preview.png"
    width="80px"
    alt="logo"
    />
    <h1>About us</h1>
    <p>
      Founded in 2021, We are an online store of amazing technological products
      distribution in all the Colombian country with office in Medellin City,
      our products are divide by categories which are Chairs, tables, PC devices
      and shirts, this latter with option of customization depending on customer
      requirements.
    </p>
  </article>
  <article>
    <h1>Our products</h1>
    <p>
      Our products are brought from all over the world, thanks to the
      distribution channels and partnerships we have with our stakeholders,
      always thinking about connecting the world through technology.
    </p>
    <img
    src="https://m.media-amazon.com/images/I/713ps6zLFbL._AC_SL1500_.jpg"
    width="500px"
    alt="logo"
    />
    <img
    src="https://i.pinimg.com/originals/42/c5/95/42c5954a88289e04fbad544402394833.png"
    width="500px"
    alt="logo"
    />
  </article>
  <article>
    <h1>Our order process</h1>
    <p>
      <img src="https://img.icons8.com/ios/50/000000/t-shirt--v1.png"/>
      Fulfillment: Normally 2–7 business days to print your t-shirt(s) and
      fulfill your order.
    </p>
    <p>
      <img src="https://img.icons8.com/dotty/80/000000/drop-shipping--v2.png"/>
      Shipping: The average shipping time is 4-10 business days depending on the
      delivery destination..
    </p>
  </article>
</section>
