<section class="section-form">
  <div class="div">
    <iframe src="" frameborder="0"> </iframe>
  </div>
  <form class="form" [formGroup]="reactiveForm">
    <h2>Leave your Message Here!</h2>
    <input
      class="form-control"
      id="name"
      type="text"
      formControlName="name"
      placeholder=" Enter your Name"
      required
    />
    <p class="text-danger" *ngIf=" reactiveForm.controls['name'].invalid && (reactiveForm.controls['name'].touched) && (reactiveForm.controls['name'].dirty)"> Name is required
    </p>    

    <input
      class="form-control"
      id="email"
      type="text"
      formControlName="email"
      placeholder="Enter your Email"
      required
    />
    <p class="text-danger" *ngIf=" reactiveForm.controls['email'].invalid && (reactiveForm.controls['email'].touched) && (reactiveForm.controls['email'].dirty)"> Email is required
    </p>   

    <textarea
      class="form-control"
      id="body"
      type="text"
      formControlName="body"
      placeholder=" Write your Message"
      required
    >
    </textarea>
    <p class="text-danger" *ngIf=" reactiveForm.controls['body'].invalid && (reactiveForm.controls['body'].touched) && (reactiveForm.controls['body'].dirty)"> Message is required (minimum length 30)
    </p>   
    <button type="submit"  [disabled]="!reactiveForm.valid">Submit</button>
  </form>
</section>