<section class="container">
  <article class="d-flex justify-content-center p-5">
    <div class="about">
      <h2 class="font-weight-bold">About us</h2>
      <p class="w-75 p-3">
        Founded in 2021, We are an online store of amazing technological
        products distribution in all the Colombian country with office in
        Medellin City, our products are divide by categories which are Chairs,
        tables, PC devices and shirts, this latter with option of customization
        depending on customer requirements.
      </p>
    </div>
    <img
      class="logo"
      src="https://i.ibb.co/94hjTw3/Logo2-removebg-preview.png"
      width="300px"
      height="150px"
      alt="logo"
    />
  </article>
  <article class="article-2 p-5">
    <div class="d-flex flex-column justify-content-center">
      <h2 class="text-center font-weight-bold">Our products</h2>
      <p class="p-3 text-center">
        Our products are brought from all over the world, thanks to the
        distribution channels and partnerships we have with our stakeholders,
        always thinking about connecting the world through technology.
      </p>
    </div>
    <figure class="d-flex flex-column">
      <img
        class="rounded"
        src="https://i.ibb.co/N9nzStL/collage-Products.jpg"
        width="700px"
        alt="logo"
      />
    </figure>
  </article>
  <article class="p-5">
    <h2 class="font-weight-bold">Our order process</h2>
    <div class="section-3 d-flex justify-content-center p-5">
      <div>
        <img src="https://img.icons8.com/ios/50/000000/t-shirt--v1.png" />
        <h3 class="font-weight-bold">Fulfillment</h3>
        <p>
          Normally 2–7 business days<br />to print your t-shirt(s) and fulfill
          your order.
        </p>
      </div>
      <div>
        <img
          src="https://img.icons8.com/pastel-glyph/50/000000/fast-shipping--v2.png"
        />
        <h3 class="font-weight-bold">Shipping</h3>
        <p>
          The average shipping time is 4-10<br />business days depending on the
          delivery destination...
        </p>
      </div>
      <div>
        <img
          src="https://img.icons8.com/material-outlined/50/000000/whatsapp--v1.png"
        />
        <h3 class="font-weight-bold">Whatsapp</h3>
        <p>+57 3108385 981 <br />For more information. Contact us.</p>
      </div>
      <button routerLink="products"> click aqui</button>
    </div>
  </article>
</section>
