<main class="container ">
    <div class="title text-center mt-4">
        <h2>Featured Products</h2>
    </div>


    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card single-content">
                <img src="https://i.ibb.co/pPVVb4w/13-1.jpg" alt="Products" class="card-img-top p-4">
                <div class="card-body text-content">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary float-right">Buy now</a>
                </div>
            </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="https://i.ibb.co/pPVVb4w/13-1.jpg" alt="Products" class="card-img-top p-4">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary float-right">Buy now</a>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card">
            <img src="https://i.ibb.co/pPVVb4w/13-1.jpg" alt="Products" class="card-img-top p-4">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary float-right">Buy now</a>
            </div>
          </div>
        </div> <!-- Cierr de la tarjeta -->


    </div> <!-- Cierr del Row -->

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card">
                <img src="https://i.ibb.co/pPVVb4w/13-1.jpg" alt="Products" class="card-img-top p-4">
                <div class="card-body">
                  <h4>Teclado Gamer</h4>
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <a href="#" class="btn btn-primary float-right">Buy now</a>
                </div>
            </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="https://i.ibb.co/pPVVb4w/13-1.jpg" alt="Products" class="card-img-top p-4">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary float-right">Buy now</a>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card">
            <img src="https://i.ibb.co/pPVVb4w/13-1.jpg" alt="Products" class="card-img-top p-4">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary float-right">Buy now</a>
            </div>
          </div>
        </div> <!-- Cierr de la tarjeta -->


    </div> <!-- Cierr del Row -->

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card">
                <img src="https://i.ibb.co/pPVVb4w/13-1.jpg" alt="Products" class="card-img-top p-4">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary float-right">Buy now</a>
                </div>
            </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="https://i.ibb.co/pPVVb4w/13-1.jpg" alt="Products" class="card-img-top p-4">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary float-right">Buy now</a>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card">
            <img src="https://i.ibb.co/pPVVb4w/13-1.jpg" alt="Products" class="card-img-top p-4">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary float-right">Buy now</a>
            </div>
          </div>
        </div> <!-- Cierr de la tarjeta -->


    </div> <!-- Cierr del Row -->


</main>
