<ngb-carousel
  #carousel
  (slide)="onSlide($event)"
  [interval]="4000"
  [pauseOnFocus]="pauseOnFocus"
  [pauseOnHover]="pauseOnHover"
  class="carousel"
>
  <ng-template *ngFor="let img of images; index as i" ngbSlide>
    <a
      href="https://www.google.fr/?q=Number+{{ i + 1 }}"
      rel="nofollow noopener noreferrer"
      target="_blank"
    >
      <div class="picsum-img-wrapper">
        <img
          [src]="img"
          alt="My image {{ i + 1 }} description"
          class="img-fluid"
          style="height: 450px; width: 100vw;"
        />
      </div>
    </a>
  </ng-template>
</ngb-carousel>
