<ng-container *ngIf=true>
    <div class="container w-50">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor= "let item of products; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{item.item}}</td>
                            <td><img style= "width: 120px;"src="{{item.images}}" alt=""></td>
                            <td>{{item.description}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.quantity}}</td>
                            <td></td>
                            <button (click) = removeItem(item) class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>  
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf=false>
    <div class="container">
        <div class="card">
            <h2 class="cart-title">
               <strong>My cart</strong>
            </h2>
        </div>
        <div class="center">
             <img src="https://i.ibb.co/MfHMfrz/different-elements-online-shopping-1085-848.jpg" alt="">
             <h4> Your cart is empty! </h4>
             <h6>Add an item </h6>
             <button class="button">
                Add to cart
            </button>     
        </div>   
    </div>
</ng-container>



