<section class="container bg-secondary">
    <article>
        <h1> About us </h1>
        <p> Founded in 2021, We are an online store of amazing technological products distribution in all the Colombian country with office in Medellin City, our products are divide by categories which are Chairs, tables, PC devices and  shirts, this latter with option of customization depending on customer requirements.
        </p>
    </article>
    <article>
        <h1> Our products </h1>
        <p>Our products are brought from all over the world, thanks to the distribution channels and partnerships we have with our stakeholders, always thinking about connecting the world through technology.</p>
    </article>
    <article>
        <h1> Our order process </h1>
        <p>Fulfillment: Normally 2–7 business days to print your t-shirt(s) and fulfill your order.</p>
        <p>Shipping: The average shipping time is 4-10 business days depending on the delivery destination..</p>
    </article>
</section>
