<footer class="text-center text-white" style="background-color: #21081a">
  <!-- Grid container -->

  <div class="icons-info d-flex flex-column justify-content-center">
    <div class="arrow-top d-flex">
      <p>Back to the top</p>
      <a href="#"><i class="far fa-arrow-to-top"></i></a>
    </div>
    <div class="container-data">
      <div class="data d-flex flex-row">
        <i class="fas fa-envelope-square"></i>
        <a target="_blank" href="https://mail.google.com/mail/u/0/#inbox"
          ><p>Deskgsales@gmail.com</p></a
        >
      </div>
      <div class="data d-flex flex-row">
        <i class="fab fa-whatsapp"></i>
        <p>+57 310 8385 981</p>
      </div>
      <div class="data d-flex flex-row">
        <i class="fas fa-map-marker"></i>
        <p>
          Complex Route N Calle 67 52-20 Piso 2 Torre A, Medellín, Antioquia
        </p>
      </div>
    </div>
  </div>
  <div class="social container p-4">
    <a target="_blank" href="https://www.instagram.com/"
      ><i class="fab fa-instagram"></i
    ></a>
    <a target="_blank" href="https://www.facebook.com/"
      ><i class="fab fa-facebook"></i
    ></a>
    <a target="_blank" href="https://twitter.com/home"
      ><i class="fab fa-twitter"></i
    ></a>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright: DESK G by BeeSoft
    <br />
    <a
      target="_blank"
      class="text-white"
      href="https://www.iubenda.com/en/help/2859-terms-and-conditions-when-are-they-needed"
      >Terms and conditions</a
    >
  </div>
  <!-- Copyright -->
</footer>
