<footer class="text-center text-white" style="background-color: #21081a">
  <!-- Grid container -->
  <section class="section-1">
    <div class="container-data">
      <div class="data d-flex flex-row">
        <i class="fas fa-envelope-square"></i>
        <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"
        ><p>Deskgsales@gmail.com</p></a
        >
      </div>
      <div class="data d-flex flex-row">
        <i class="fab fa-whatsapp"></i>
        <p>+57 310 8385 981</p>
      </div>
      <div class="data d-flex flex-row">
        <i class="fas fa-map-marker"></i>
        <p>
          Complejo Ruta N Calle 67 52-20 Piso 2 Torre A, Medellín, Antioquia
        </p>
      </div>
    </div>
  </section>

  <section class="section-2">
    <div class="social container p-4">
      <a href="https://www.instagram.com/" target="_blank"
      ><i class="fab fa-instagram"></i
      ></a>
      <a href="https://www.facebook.com/" target="_blank"
      ><i class="fab fa-facebook"></i
      ></a>
      <a href="https://twitter.com/home" target="_blank"
      ><i class="fab fa-twitter"></i
      ></a>
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3">
      © 2021 Copyright: DESK G by BeeSoft
      <br/>
      <a
        class="text-white"
        href="https://www.iubenda.com/en/help/2859-terms-and-conditions-when-are-they-needed"
        target="_blank"
      >Términos y condiciones</a
      >
    </div>
    <!-- Copyright -->
  </section>

  <section class="section-3">
    <div class="container-arrow icons-info d-flex flex-column justify-content-center">
      <div class="arrow-top d-flex">
        <button (click)="gotoTop()" *ngIf="isShow"><i class="far fa-arrow-to-top"></i></button>
      </div>
    </div>
  </section>
</footer>
